
h1{
    text-align: center;
}
/* 我的课程表 */
.s{
    text-align: right;
}
/* 学期 */

body{
    background-image: url(../img/timg.jpg);
    margin: 0;
    /* 外边框 */
}
/* 背景 */
table{
    text-align: center;
    width: 100%;
}
/* 表格大小 */
th{
    background-color: darkturquoise;
}
/* 表头星期 */
td.l{
    background-color:  darkcyan;
}
/* 时间安排 */
td.c{
    background-color: rgba(0, 128, 0, 0.774);
    border-radius: 28px;
}
/* 课程颜色，边缘平滑 */
table.d{
    text-align:center;
    background-color:darkcyan;
}
td.n{
    color:green;
}
/* 表格格式 */
#dao{
    height: 5%;
    width: 100%;
    margin:0;
}
/* 导航条的长宽 边的距离 */
ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkcyan;
}
/* 导航背景颜色，链接下划线 */
#home{
    background-color:  lightskyblue; 
}
/* 主页导航颜色 */
li {
    float: left;
}
/* 选项靠右 */
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
}

/* 鼠标前导航字体颜色，字体位置 */
.now{
    background-color:rgb(168, 219, 192) ;
    color:green;
}
li a:hover.a_h {
    background-color:rgb(168, 219, 192);
    color:green;
    text-decoration:blink;
}
li a:active.a_h{
    color:rgba(0, 128, 0, 0.507);
    text-decoration:blink;
}
/* 鼠标touch */
/* 导航 */

